node_modules
bower_components
.DS_Store

# ignoring testable app's release folder
tests/www/probatus/public/app.js
tests/www/probatus/public/app.css
tests/www/probatus/public/__split__

# ignoring test files
tests/www/coverage
tests/www/services
*.log